@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container1{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Readex Pro', sans-serif;
}
.container2{
    width: 100%;
    display: flex;
    justify-content: center;
}
.controlcontainer2{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 1px solid black; */
}
.bagian1{
    width: 100%;
    /* background-color: orangered; */
    display: flex;
    height: 50px;
}
.tanggalpesanan{
    background-color: orchid;
    font-family: 'Readex Pro', sans-serif;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}
.tanggalpesanan p{
    margin: auto;
    padding: 5px;
}
.nopesanan{
    background-color: orchid;
    font-family: 'Readex Pro', sans-serif;
    display: flex;
    justify-content: center;
}
.nopesanan p{
    margin: auto;
    padding: 5px;
}
.bagian2 textarea{
    width: 100%;
    padding: 10px;
    font-family: 'Readex Pro', sans-serif;
}
.pesanan{
    width: 100%;
    display: flex;
    border: 1px solid black;
    margin-top: 15px;
}
.fotomenu{
    width: 30%;
    height: 250px;
    display: flex;
    justify-content: center;
}
.detailmenu{
    width: 40%;
    height: 250px;

}
.subtotal{
    width: 30%;
    height: 250px;

}
.detailmenu1{
    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 10px;
    font-family: 'Readex Pro', sans-serif;
}
.detailmenu1 h1{
    padding-bottom: 10px;
}
.detailmenu2{
    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 10px;
    font-family: 'Readex Pro', sans-serif;
}

.gambar{
    height: 95%;
    width: 95%;
    margin: auto;
}
.emptysubtotal{
    width: 100%;
    height: 70%;
}
.subtotaltext{
    width: 100%;
    height: 30%;
    text-align: right;
    font-family: 'Readex Pro', sans-serif;
    display: flex;
    justify-content: right;
    align-items: center;
}
.subtotaltext h3{
    padding: 10px;
}
.bagian4{
    margin-top: 10px;
}
.pesaninput{
    width: 100%;
    height: 250px;
}
.pesaninput textarea{
    width: 100%;
    height: 90%;
    padding: 10px;
}
/* bagian 5 */
.bagian5{
    width: 100%;
    display: flex;
    border: 1px solid black;
}
.empty{
    width: 30%;

}
.bagian5text1{
    width: 35%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
.bagian5text1 h3{
    padding: 10px;
    font-family: 'Readex Pro', sans-serif;
}
.bagian5text2{
    width: 35%;
}
.bagian5text2 h3{
    padding: 10px;
    font-family: 'Readex Pro', sans-serif;
}
/* bagian 5 */
.bagian6radiobutton{
    width: 100%;
    border: 1px solid black;
    padding: 20px;
}
.bagian6deatilpembayaran{
    width: 100%;
    display: flex;
    border: 1px solid black;
}
.empty{
    width: 30%;

}
.bagian6text1{
    width: 35%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
.bagian6text1 h3{
    padding: 10px;
    font-family: 'Readex Pro', sans-serif;
}
.bagian6text2{
    width: 35%;
}
.bagian6text2 h3{
    padding: 10px;
    font-family: 'Readex Pro', sans-serif;
}

.bagian7{
    width: 100%;
    display: flex;
    border: 1px solid black;
}
.empty{
    width: 30%;

}
.bagian7text1{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
.bagian7text1 h3{
    padding: 10px;
    font-family: 'Readex Pro', sans-serif;
}
.bagian7text2{
    width: 35%;
    display: flex;
    align-items: center;
}
.bagian7text2 input{
    width: 20%;
    height: 50%;
}
.bagian7text2 h3{
    padding: 10px;
    font-family: 'Readex Pro', sans-serif;
}
#bluecheckbox{
    accent-color: blue;
}
#radiobuttoncod{
    accent-color: blue;
}
#radiobuttontransferbank{
    accent-color: blue;
}
.buttoncheckout{
    width: 100%;
    border: 1px solid black;
    display: flex;
}
.empty2{
    width: 65%;
}
.buttoncheckoutcontrol{
    width: 35%;
    height: 70px;
    display: flex;
    align-items: center;
}
.buttoncheckoutcontrol button{
    border-radius: 10px;
    padding: 10px;
    font-family: 'Readex Pro', sans-serif;
    border: none;
    background-color: chocolate;
}
