.faqs{
    text-align: center;
    margin: 75px;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
}

.faqs-p{
    margin: 75px 100px 75px 100px;
    text-align: justify;
    /* font-family: 'Montserrat', sans-serif; */
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
