@import url("https://fonts.googleapis.com/css2?family=Andada+Pro&family=Archivo:wght@100;200;300&family=BioRhyme&family=Cormorant+Garamond:wght@300&family=Fruktur&family=Inter:wght@100;200;300&family=Poppins:wght@200&family=Sora:wght@100;500&display=swap");

/* Slideshow container */
.slideshow-container {
  /* max-width: 73%; */
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  color: black;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
}

.g-col-6 {
  width: 100px;
  height: 100px;
  background-color: gray;
  margin: 20px;
}
.moto {
  width: 100%;
  margin-top: 75px;
  margin-bottom: 100px;
}
.container1 {
  display: flex;
  margin: auto;
  width: 1100px;
  justify-content: space-between;
}
.bs1{
  width: 200px;
  height: 300px;
  border: 3px solid black;
  align-items: center;
  box-sizing: border-box;
  border-radius: 30px;
}
.bs1 p {
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}
.bs1 img {
  margin-left: 13%;
  margin-top: 5%;
}
.container2 {
  display: flex;
  margin: auto;
  width: 660px;
  justify-content: space-between;
}
.Natural {
  width: 200px;
  height: 220px;
  border: 3px solid black;
  align-items: center;
  box-sizing: border-box;
  border-radius: 30px;
}
.Natural p {
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}
.Natural img {
  padding-left: 77px;
  padding-top: 10px;
}
.Fresh {
  width: 200px;
  height: 220px;
  border: 3px solid black;
  align-items: center;
  box-sizing: border-box;
  border-radius: 30px;
}
.Fresh p {
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}
.Fresh img {
  padding-left: 73px;
  padding-top: 10px;
  
}
.Price {
  width: 200px;
  height: 220px;
  border: 3px solid black;
  align-items: center;
  box-sizing: border-box;
  border-radius: 30px;
}
.Price p {
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}
.Price img {
  padding-left: 73px;
  padding-top: 10px;
}
.ourmoto {
  margin: auto;
  text-align: center;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 30px;
}
.deskripsi {
  font-weight: 700;
  font-size: medium;
}
.footer {
  margin-top: 100px;
  width: 100%;
  background-color: #e25f21;
}
.container3 {
  display: flex;
  margin: auto;
  width: 500px;
}
.bbl {
  width: 50%;
  align-items: center;
}
.footerlogo {
  height: 250px;
  width: 250px;
  margin-left: 30px;
}
.footer-isi {
  height: 250px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 100px 25px 100px;
}
/* .buttoncontrol button {
  border-radius: 5px;
  margin: -5px;
  border: 0px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #e25f21;
  color: white;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

.buttoncontrol button:hover{
  color: black;
}

.buttoncontrol button:active{
  color: black;
} */

.footerlogo {
  display: flex;
  align-items: center;
}
/* .footerlogo img {
  width: 250px;
} */
.socialmedia {
  padding-top: 30px;
}
.socialmedia button {
  background-color: #e25f21;
  border: 0px;
}

.socialmedia button:hover {
  opacity: 0.7;
}

.bestseller .testi {
  font-family: "Outfit", sans-serif;
}

.kritik :hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .navbar-brand.abs
      {
          position: absolute;
          width: auto;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
      }
  }

  .buttonmenu {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
  }
  .buttonmenu button {
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid orangered;
    border-radius: 10px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .buttonmenu a {
    text-decoration: none;
  }
  
  .buttonmenu a:hover, .buttonmenu button:hover {
    opacity: 0.7;
    color: gray;
  }